//fonts
$merriweatherlight : 'Merriweather-Light', sans-serif;
$proximanovabold : 'ProximaNova-Bold', sans-serif;
$robotomedium : 'Roboto-Medium', sans-serif;
$robotoregular : 'Roboto-Regular', sans-serif;
$montserratregular : 'Montserrat-Regular', sans-serif;
$robotolight : 'Roboto-Light', sans-serif;

//colors
$green : #6FB048;
$headers-color : #0f5f5c;
$txt-color : #83a7a5;
