//fonts
$osb : 'OpenSans-Bold', sans-serif;
$osr : 'OpenSans-Regular', sans-serif;
$ossb : 'OpenSans-SemiBold', sans-serif;

//colors
$formcolor : #4c505d;
$grey : #938e8e;
$p-grey : #4f4e4e;
$green : #43A06D;
$blue : #227DD3;
