// bower:scss
@import "bower_components/bootstrap-grid-sass/bootstrap-grid-sass.scss";
// endbower



// modules & sections

@import "modules/sprite";
@import "functions";
@import "reset";
@import "fonts";
@import "variables";




@import "sections/header";
@import "sections/head-section";
@import "sections/features-section";
@import "sections/looking-section";
@import "sections/director_section";
@import "sections/attention-section";
@import "sections/pricing-section";
@import "sections/download-section";
@import "sections/footer-section";

@import "dist/hamburgers.css";

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}



html {
  position: relative;
  height: 100vh;
  overflow-x: hidden;
}

body {
  display: flex;
  position: relative;
  flex-direction: column;
  overflow: hidden;
  min-height: 100%;
  line-height: 1.2;
}

p {
  font-size: 14px;
  font-family: $robotoregular;
  color: $txt-color;
  line-height: 150%;
  display: inline-block;
}

.span-header {
  display: block;
  font-family: $robotolight;
  font-size: 32px;
  color: $headers-color;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-transform: uppercase;
  background-color: #697E7F;
  font-family: $montserratregular;
  font-size: 12px;
  border-radius: 2px;
  &:hover {
    background-color: $green;
  }
}

