.director_section {
  position: relative;
  z-index: 99;
  .container {
    position: relative;
    z-index: 2;
    margin: 140px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.director_section-content {
  p {
    font-size: 22px;
    font-family: $merriweatherlight;
    max-width: 510px;
    margin-bottom: 25px;
  }
  span {
    display: block;
    font-family: $robotomedium;
    font-size: 14px;
  }
  .name {

    color: $green;
    margin-bottom: 10px;
  }
  .post {
    color: $txt-color;
  }
}
