header.main-header {
  position: relative;
  background-image: url(../images/header-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  width: 100%;
  .container {
    position: relative;
    z-index: 2;
    height: 660px;
  }
  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    background-color: #2d6e70;
  }
}
.header-menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 85px;
  position: relative;
  .logo {
    display: inline;
    text-transform: uppercase;
    font-family: $proximanovabold;
    font-size: 29px;
    color: #fff;
    padding-right: 24px;
    border-right: 1px solid #fff;
  }
}
.header-menu-phone {
  margin-right: auto;
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 24px;
  span {
    display: inline-block;
    font-family: $montserratregular;
    font-size: 13px;
    color: #fff;
    padding-left: 5px;
  }
  &::before {
    content: '';
    display: inline-block;
    @include sprite($phone);
  }
}
.site-menu {
  display: flex;
  align-items: center;
  .header-menu-item {
    display: inline-block;
    margin-right: 30px;
    a {
      text-transform: uppercase;
      font-family: $montserratregular;
      font-size: 12px;
      color: #fff;
      transition: 0.5s;
      &:hover {
        color: $txt-color;
      }
    }
  }
}
.btn-start {
  @extend .btn;
  height: 32px;
  width: 110px;
}
.header-body {
  height: 575px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  h2 {
    font-size: 38px;
    font-family: $robotoregular;
    color: #fff;
    margin-bottom: 20px;
  }
  p {
    font-size: 16px;
    color: #fff;
    font-family: $robotoregular;
    max-width: 500px;
    margin-bottom: 25px;
    line-height: 140%;
  }
}
.btn-learn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: #fff;
  font-family: $montserratregular;
  font-size: 14px;
  height: 50px;
  width: 185px;
  background-color: $green;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  &:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    animation: swing 0.8s;
  }
}
@media (max-width: 992px) {
  .site-menu {
    .header-menu-item {
      margin-right: 15px;
    }
  }
}
@media (max-width: 768px) {
  header.main-header {
    .container {
      height: 400px;
    }
  }
  .header-body {
    height: 300px;
  }
}
@media (max-width: 480px) {
  .header-menu {
    .logo {
      margin-right: auto;
    }
  }
  .header-menu-phone {
    display: none;
  }
  .header-body {
    h2 {
      font-size: 30px;
    }
    p {
      font-size: 14px;
    }
  }
}
