// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$arrow-icon-name: 'arrow-icon';
$arrow-icon-x: 149px;
$arrow-icon-y: 89px;
$arrow-icon-offset-x: -149px;
$arrow-icon-offset-y: -89px;
$arrow-icon-width: 18px;
$arrow-icon-height: 18px;
$arrow-icon-total-width: 179px;
$arrow-icon-total-height: 140px;
$arrow-icon-image: '../images/sprite.png';
$arrow-icon: (149px, 89px, -149px, -89px, 18px, 18px, 179px, 140px, '../images/sprite.png', 'arrow-icon', );
$browser-icon-name: 'browser-icon';
$browser-icon-x: 93px;
$browser-icon-y: 110px;
$browser-icon-offset-x: -93px;
$browser-icon-offset-y: -110px;
$browser-icon-width: 30px;
$browser-icon-height: 30px;
$browser-icon-total-width: 179px;
$browser-icon-total-height: 140px;
$browser-icon-image: '../images/sprite.png';
$browser-icon: (93px, 110px, -93px, -110px, 30px, 30px, 179px, 140px, '../images/sprite.png', 'browser-icon', );
$bulb-icon-name: 'bulb-icon';
$bulb-icon-x: 110px;
$bulb-icon-y: 70px;
$bulb-icon-offset-x: -110px;
$bulb-icon-offset-y: -70px;
$bulb-icon-width: 24px;
$bulb-icon-height: 38px;
$bulb-icon-total-width: 179px;
$bulb-icon-total-height: 140px;
$bulb-icon-image: '../images/sprite.png';
$bulb-icon: (110px, 70px, -110px, -70px, 24px, 38px, 179px, 140px, '../images/sprite.png', 'bulb-icon', );
$check-icon-name: 'check-icon';
$check-icon-x: 149px;
$check-icon-y: 62px;
$check-icon-offset-x: -149px;
$check-icon-offset-y: -62px;
$check-icon-width: 26px;
$check-icon-height: 26px;
$check-icon-total-width: 179px;
$check-icon-total-height: 140px;
$check-icon-image: '../images/sprite.png';
$check-icon: (149px, 62px, -149px, -62px, 26px, 26px, 179px, 140px, '../images/sprite.png', 'check-icon', );
$cloud-icon-name: 'cloud-icon';
$cloud-icon-x: 110px;
$cloud-icon-y: 0px;
$cloud-icon-offset-x: -110px;
$cloud-icon-offset-y: 0px;
$cloud-icon-width: 38px;
$cloud-icon-height: 36px;
$cloud-icon-total-width: 179px;
$cloud-icon-total-height: 140px;
$cloud-icon-image: '../images/sprite.png';
$cloud-icon: (110px, 0px, -110px, 0px, 38px, 36px, 179px, 140px, '../images/sprite.png', 'cloud-icon', );
$contacts-phone-name: 'contacts-phone';
$contacts-phone-x: 124px;
$contacts-phone-y: 110px;
$contacts-phone-offset-x: -124px;
$contacts-phone-offset-y: -110px;
$contacts-phone-width: 16px;
$contacts-phone-height: 16px;
$contacts-phone-total-width: 179px;
$contacts-phone-total-height: 140px;
$contacts-phone-image: '../images/sprite.png';
$contacts-phone: (124px, 110px, -124px, -110px, 16px, 16px, 179px, 140px, '../images/sprite.png', 'contacts-phone', );
$dribbble-icon-name: 'dribbble-icon';
$dribbble-icon-x: 149px;
$dribbble-icon-y: 0px;
$dribbble-icon-offset-x: -149px;
$dribbble-icon-offset-y: 0px;
$dribbble-icon-width: 30px;
$dribbble-icon-height: 30px;
$dribbble-icon-total-width: 179px;
$dribbble-icon-total-height: 140px;
$dribbble-icon-image: '../images/sprite.png';
$dribbble-icon: (149px, 0px, -149px, 0px, 30px, 30px, 179px, 140px, '../images/sprite.png', 'dribbble-icon', );
$facebook-icon-name: 'facebook-icon';
$facebook-icon-x: 149px;
$facebook-icon-y: 31px;
$facebook-icon-offset-x: -149px;
$facebook-icon-offset-y: -31px;
$facebook-icon-width: 30px;
$facebook-icon-height: 30px;
$facebook-icon-total-width: 179px;
$facebook-icon-total-height: 140px;
$facebook-icon-image: '../images/sprite.png';
$facebook-icon: (149px, 31px, -149px, -31px, 30px, 30px, 179px, 140px, '../images/sprite.png', 'facebook-icon', );
$flask-icon-name: 'flask-icon';
$flask-icon-x: 0px;
$flask-icon-y: 53px;
$flask-icon-offset-x: 0px;
$flask-icon-offset-y: -53px;
$flask-icon-width: 48px;
$flask-icon-height: 56px;
$flask-icon-total-width: 179px;
$flask-icon-total-height: 140px;
$flask-icon-image: '../images/sprite.png';
$flask-icon: (0px, 53px, 0px, -53px, 48px, 56px, 179px, 140px, '../images/sprite.png', 'flask-icon', );
$github-icon-name: 'github-icon';
$github-icon-x: 62px;
$github-icon-y: 110px;
$github-icon-offset-x: -62px;
$github-icon-offset-y: -110px;
$github-icon-width: 30px;
$github-icon-height: 30px;
$github-icon-total-width: 179px;
$github-icon-total-height: 140px;
$github-icon-image: '../images/sprite.png';
$github-icon: (62px, 110px, -62px, -110px, 30px, 30px, 179px, 140px, '../images/sprite.png', 'github-icon', );
$instagram-icon-name: 'instagram-icon';
$instagram-icon-x: 0px;
$instagram-icon-y: 110px;
$instagram-icon-offset-x: 0px;
$instagram-icon-offset-y: -110px;
$instagram-icon-width: 30px;
$instagram-icon-height: 30px;
$instagram-icon-total-width: 179px;
$instagram-icon-total-height: 140px;
$instagram-icon-image: '../images/sprite.png';
$instagram-icon: (0px, 110px, 0px, -110px, 30px, 30px, 179px, 140px, '../images/sprite.png', 'instagram-icon', );
$lifebuoy-icon-name: 'lifebuoy-icon';
$lifebuoy-icon-x: 49px;
$lifebuoy-icon-y: 53px;
$lifebuoy-icon-offset-x: -49px;
$lifebuoy-icon-offset-y: -53px;
$lifebuoy-icon-width: 44px;
$lifebuoy-icon-height: 44px;
$lifebuoy-icon-total-width: 179px;
$lifebuoy-icon-total-height: 140px;
$lifebuoy-icon-image: '../images/sprite.png';
$lifebuoy-icon: (49px, 53px, -49px, -53px, 44px, 44px, 179px, 140px, '../images/sprite.png', 'lifebuoy-icon', );
$lonicons-icon-name: 'lonicons-icon';
$lonicons-icon-x: 0px;
$lonicons-icon-y: 0px;
$lonicons-icon-offset-x: 0px;
$lonicons-icon-offset-y: 0px;
$lonicons-icon-width: 52px;
$lonicons-icon-height: 52px;
$lonicons-icon-total-width: 179px;
$lonicons-icon-total-height: 140px;
$lonicons-icon-image: '../images/sprite.png';
$lonicons-icon: (0px, 0px, 0px, 0px, 52px, 52px, 179px, 140px, '../images/sprite.png', 'lonicons-icon', );
$mail-name: 'mail';
$mail-x: 124px;
$mail-y: 127px;
$mail-offset-x: -124px;
$mail-offset-y: -127px;
$mail-width: 18px;
$mail-height: 12px;
$mail-total-width: 179px;
$mail-total-height: 140px;
$mail-image: '../images/sprite.png';
$mail: (124px, 127px, -124px, -127px, 18px, 12px, 179px, 140px, '../images/sprite.png', 'mail', );
$mstick-icon-name: 'mstick-icon';
$mstick-icon-x: 110px;
$mstick-icon-y: 37px;
$mstick-icon-offset-x: -110px;
$mstick-icon-offset-y: -37px;
$mstick-icon-width: 32px;
$mstick-icon-height: 32px;
$mstick-icon-total-width: 179px;
$mstick-icon-total-height: 140px;
$mstick-icon-image: '../images/sprite.png';
$mstick-icon: (110px, 37px, -110px, -37px, 32px, 32px, 179px, 140px, '../images/sprite.png', 'mstick-icon', );
$phone-name: 'phone';
$phone-x: 164px;
$phone-y: 108px;
$phone-offset-x: -164px;
$phone-offset-y: -108px;
$phone-width: 14px;
$phone-height: 14px;
$phone-total-width: 179px;
$phone-total-height: 140px;
$phone-image: '../images/sprite.png';
$phone: (164px, 108px, -164px, -108px, 14px, 14px, 179px, 140px, '../images/sprite.png', 'phone', );
$pointer-name: 'pointer';
$pointer-x: 149px;
$pointer-y: 108px;
$pointer-offset-x: -149px;
$pointer-offset-y: -108px;
$pointer-width: 14px;
$pointer-height: 20px;
$pointer-total-width: 179px;
$pointer-total-height: 140px;
$pointer-image: '../images/sprite.png';
$pointer: (149px, 108px, -149px, -108px, 14px, 20px, 179px, 140px, '../images/sprite.png', 'pointer', );
$prices-phone-name: 'prices-phone';
$prices-phone-x: 94px;
$prices-phone-y: 53px;
$prices-phone-offset-x: -94px;
$prices-phone-offset-y: -53px;
$prices-phone-width: 14px;
$prices-phone-height: 14px;
$prices-phone-total-width: 179px;
$prices-phone-total-height: 140px;
$prices-phone-image: '../images/sprite.png';
$prices-phone: (94px, 53px, -94px, -53px, 14px, 14px, 179px, 140px, '../images/sprite.png', 'prices-phone', );
$sketch-icon-name: 'sketch-icon';
$sketch-icon-x: 53px;
$sketch-icon-y: 0px;
$sketch-icon-offset-x: -53px;
$sketch-icon-offset-y: 0px;
$sketch-icon-width: 56px;
$sketch-icon-height: 48px;
$sketch-icon-total-width: 179px;
$sketch-icon-total-height: 140px;
$sketch-icon-image: '../images/sprite.png';
$sketch-icon: (53px, 0px, -53px, 0px, 56px, 48px, 179px, 140px, '../images/sprite.png', 'sketch-icon', );
$twitter-icon-name: 'twitter-icon';
$twitter-icon-x: 31px;
$twitter-icon-y: 110px;
$twitter-icon-offset-x: -31px;
$twitter-icon-offset-y: -110px;
$twitter-icon-width: 30px;
$twitter-icon-height: 30px;
$twitter-icon-total-width: 179px;
$twitter-icon-total-height: 140px;
$twitter-icon-image: '../images/sprite.png';
$twitter-icon: (31px, 110px, -31px, -110px, 30px, 30px, 179px, 140px, '../images/sprite.png', 'twitter-icon', );
$spritesheet-width: 179px;
$spritesheet-height: 140px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($arrow-icon, $browser-icon, $bulb-icon, $check-icon, $cloud-icon, $contacts-phone, $dribbble-icon, $facebook-icon, $flask-icon, $github-icon, $instagram-icon, $lifebuoy-icon, $lonicons-icon, $mail, $mstick-icon, $phone, $pointer, $prices-phone, $sketch-icon, $twitter-icon, );
$spritesheet: (179px, 140px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
